<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <body>
    <div id="wiki">
      <main>
        <div class="jumbotron">
          <h1><%= title %></h1>
          <p><%= description %></p>
          <hr>
        </div>
        <div class="jumbotron">
          <%- post %>
        </div>
      </main>
    </div>
  </body>
  <footer>
    <p class="text-center text-muted">&copy; <b>(Group) 2021</b></p>

  </footer>
</html>