<html>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <head>
    <title>A-Wiki</title>
    <meta property="og:title" content="A-Wiki">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="This is a fresh-install of A-Wiki.">
    <meta property="og:type" content="article">
    <meta property="og:image" content="">
  </head>
  <body>
    <div id="wiki">
      <div class="jumbotron">
        <b>Knowledgebase articles are listed below...</b>
        <hr>
      <% for (post of posts) { %>
        <a href="/<%= post.slice(0, -3) %>">
          <div class="post">
            <%= post.replace(/.md|-/g, ' '); %>
          </div>
        </a>
      <% } %>
    </div>
    </div>
    <footer>
      <p class="text-center text-muted">If your question was not answered, please contact us!</p>
      <p class="text-center text-muted">&copy; <b>(Group) 2022</b></p>
    </footer>
  </body>
</html>
